.shareContainer{
    width: 100%;
    min-height: 170px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.37);
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareWrapper{
    padding: 10px;
}

.shareProfilePicture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareTopInput{
    border: none;
    width: 80%;
    height: 25px;
}
.shareTopInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}

.shareImg{
    width: 100%;
    object-fit: cover;
}

.shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
    color: red;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareOptionIcon{
    font-size: 18px !important;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(146, 239, 146);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}