.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.chatOnlineImgContainer{
    position: relative;
    margin-right: 10px;
}

.chatOnlineImg{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.chatOnlineBadge{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: -2px;
    right: 0;
    border: 2px solid white;
}