.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageTopImg{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageTopText{
    padding: 10px;
    border-radius: 20px;
    background-color: #92EF92;
    color: white;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageTopText{
    background-color: rgb(232, 232, 232);
    color: black;
}